################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.tlog
*.lastbuildstate
*.idb
*.VC.db
